<h1>#Admin</h1>

<h3>Admin Emails</h3>
<ul>
  <% @admins.each do |admin| %>
    <%= admin.email %>
  <% end %>
</ul>

<a href="/users">Users</a>
<br>
<%= link_to "Logout", destroy_admin_session_path, method: :delete %>
