<h1>#사용자 목록</h1>
<p>안녕하세요, <%= current_admin.email %></p>

<p><%= "== 빈 목록 ==" unless @users.present? %></p>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.email, user %>
    </li>
  <% end %>
</ul>

<% if current_admin.has_moderator? %>
  <a href="/users/new">유저 등록</a><br>
<% end %>
<a href="/main">관리자 목록</a>
